{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>{{ contact.title }}</h3>
        </div>
        <div id="about-img"class="col-md-6">
            <!-- about us image -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Contact</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>{{ contact.content }}</p>
        </div>
    </div>
    <div class="row" id="map">
        <!-- googlemap insert -->
    </div>
</div>
<!-- script for googlemap -->
<script>
    async function initMap() {
        // Request needed libraries.
        const { Map, InfoWindow } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary(
            "marker",);
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 7,
            center: {lat: 51.454463, lng: -2.587619},
            mapId: "map",
        });
        const infoWindow = new google.maps.InfoWindow({
            content: "",
            disableAutoPan: true,
        });
        // Create an array of alphabetical characters used to label the markers.
        const labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        // Add some markers to the map.
        const markers = locations.map((position, i) => {
            const label = labels[i % labels.length];
            const pinGlyph = new google.maps.marker.PinElement({
            glyph: label,
            glyphColor: "white",
            });
            const marker = new google.maps.marker.AdvancedMarkerElement({
            position,
            content: pinGlyph.element,
            });

            // markers can only be keyboard focusable when they have click listeners
            // open info window when marker is clicked
            marker.addListener("click", () => {
            infoWindow.setContent(position.lat + ", " + position.lng);
            infoWindow.open(map, marker);
            });
            return marker;
        });

        // Add a marker clusterer to manage the markers.
        new MarkerClusterer({ markers, map });
    }

    const locations = [
        { lat: 51.465154, lng: -2.585150 },
    ];
</script>
<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
    ({key: "AIzaSyCw4e7nJDs3sXDkUj899uKwWS-yFwiRvMc", v: "weekly"});</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCw4e7nJDs3sXDkUj899uKwWS-yFwiRvMc&callback=initMap"></script>

{% endblock %}