{% extends "base.html" %}

{% block content %}

<!-- include modal with instructions for the website-->

<div class="col-md-8 d-flex flex-column justify-content-start align-items-center">
    <div class="row">
        <div class="col">
            <h3>Current bookings</h3>
            <p>View current bookings below for a given date or pitch type</p>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 my-2">
                        <a class="btn" href="" role="button">Book Now</a>
                    </div>
                    <div class="col-12 col-md-4 my-2">
                        <button id="" class="btn" role="button">Show All</button>
                    </div>
                    <div class="col-12 col-md-4 my-2">
                        <button id="" class="btn" role="button">My Bookings</button>
                    </div>
                </div>
            </div>

            <!-- datepicker and script from Youtube: 'How to add Datepicker in Bootstrap 4 and 5' by Frontend Paathshala-->
            <form>
                <div class="row form-group">
                    <label for="date" class="col-sm-1 col-form-label">Date</label>
                    <div class="col-sm-4">
                        <div class="input-group date" id="datepicker">
                            <input type="text" class="form-control">
                            <span class="input-group-append">
                                <span class="input-group-text bg-white d-block">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- booking table, template from bootstrap -->
        <div class="row">
            <div class = "col-md-8 mt3 offset-md-2">
                <table>
                    <thead>
                    <tr>
                        <th scope="col">Pitch Type</th>
                        <th scope="col">Pitch</th>
                        <th scope="col">Date</th>
                        <th scope="col">Duration</th>
                    </tr>
                    </thead>
                    {% for booking in booking_list %}
                        <tbody>
                            <td>{{ booking.pitch_type }}</td>
                            <td>{{ booking.product }}</td>
                            <td>{{ booking.check_in_date }}</td>
                            <td>{{ booking.duration_of_stay }}</td>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('#datepicker').datepicker();
    });
</script>

{%endblock%}