{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col hero">
    </div>
</div>

<div class="row">
    <div class="col-md-4 offset-md-1 p-3">
        <h3>Welcome to BroadLeaf Campsite</h3>
        <p>Wonderfully spacious, perfectly placed and incredibly enticing, BroadLeaf caravan and camping site is just 
            waiting to welcome you. Located on the edge of the Forest of Dean, BroadLeaf is open all year, allowing you
             to pitch your tent in nature’s best surroundings whenever you like. </p>
        <p>As soon as you enter the grounds of BroadLeaf's campsite, you’ll be immediately impressed with its size and 
            ability to encompass you in the wonderful landscapes of the forest. </p>
    </div>
    <div class="col-md-4 offset-md-2 p-3">
        <h3>Pitch Offerings</h3>
        <p>BroadLeaf offerings a range of pitch options to suit solo travellers and families a like.</p>
        <p>We can cater for <strong>tents</strong>, <strong>caravans</strong>, <strong>motorhomes</strong>
            and <strong>campervans</strong> with a range of grass and hardstanding pitches</p>
        <p>If you want to camp in luxury, have a look at our furnished glamping tents with wood-burner</p>
    </div>
</div>

{%endblock%}