{% extends "base.html" %}

{% block content %}

<section class="col-md-4 offset-md-4">
    <div class="row">
        <div class="col">
            <h3>Make a new booking</h3>
            <form id="booking-form" method="POST">
                {% csrf_token %}
                {{ form.as_p}}
                <p>
                    <button class="btn btn-green" type="submit" role="button">Submit</button>
                <hr>
                <a class="btn btn-secondary" href="{% url 'view_booking' %}" role="button">Go Back</a>
                </p>
            </form>
        </div>
    </div>
</section>
{% endblock %}