{% extends "base.html" %}

{% block content %}

<!-- include modal with instructions for the website-->

<div class="col-md-8 offset-md-2">
    <div class="row">
        <div class="col">
            <h3>Current bookings</h3>
            <p>View current bookings below for a given date or pitch type</p>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3 my-2">
                        <a class="btn btn-green" href="{% url 'make_booking' %}" role="button">Book Now</a>
                    </div>
                    <div class="col-12 col-md-3 my-2">
                        <a class="btn btn-green" href="{% url 'view_booking' %}"role="button">Show All</a>
                    </div>
                    <div class="col-12 col-md-3 my-2">
                        <button class="btn btn-green" role="button">My Bookings</button>
                    </div>
                </div>
            </div>

        <!-- booking table, template from bootstrap -->
        <div class="row">
            <div class = "col-md-8">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Pitch Type</th>
                        <th scope="col">Pitch</th>
                        <th scope="col">Date</th>
                        <th scope="col">Duration (Days)</th>
                    </tr>
                    </thead>
                    {% for booking in booking_list %}
                            <tbody>
                                <td>{{ booking.pitch_ID.pitch_type }}</td>
                                <td>{{ booking.pitch_ID }}</td>
                                <td>{{ booking.check_in_date }}</td>
                                <td>{{ booking.duration_of_stay }}</td>
                            </tbody>
                    {% empty %}
                        <td>Sorry, you have no bookings.</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    {% endfor %}

                    {% for booking in booking %}
                        <tbody>
                            <td>{{ booking.pitch_ID.pitch_type }}</td>
                            <td>{{ booking.pitch_ID }}</td>
                            <td>{{ booking.check_in_date }}</td>
                            <td>{{ booking.duration_of_stay }}</td>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{%endblock%}