{% extends "base.html" %}

{% block content %}

<!-- include modal with instructions for the website-->

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <h3>Current bookings</h3>
            <p>The table below shows the current bookings at BroadLeaf Campsite</p>
            <p>Use the filter to view the date you'd like to book and check it's availability</p>
            <p>When you're ready to make a booking, use "Book Now"</p>
            <hr>

            <!-- Booking buttons  -->
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 my-2 d-flex justify-content-center">
                        <a class="btn btn-green btn-book" href="{% url 'make_booking' %}" role="button">Book Now</a>
                    </div>
                    <div class="col-md-4 my-2 d-flex justify-content-center">
                        <a class="btn btn-green btn-book" href="{% url 'my_bookings' %}" role="button">My Bookings</a>
                    </div>
                    <div class="col-md-4 my-2 d-flex justify-content-center">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#modal-cancel-{{ booking.booking_id }}" 
                            aria-label="Cancel" class="btn btn-warning btn-book">Terms</button>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <!-- modal for confirming cancellation of a booking -->
        <div class="modal" id="modal-cancel-{{ booking.booking_id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Booking terms</h5>
                    </div>
                    <div class="modal-body">
                        <p>By making a booking you are accepting the following terms:</p>
                        <p>- A 25% deposit will be taken by phone call within 48 hours of making the booking</p>
                        <p>- Payment of the booking will be made on-site on the first day</p>
                        <p>- Incorrectly made bookings may be subject to extra charges</p>
                        <p>- Incorrectly made bookings may be refused </p>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'my_bookings' %}">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- booking table, template from bootstrap -->
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <p>Filter our bookings table: </p>
                <p>Date format must be: YYYY-MM-DD </p>
                <form method="GET" action="{% url 'view_booking' %}">
                    {{ form.as_p }}
                    <input type="submit" value="Filter" class="btn btn-green"/>
                </form>
            <hr>
            </div>
            <div class = "col-md-8">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Pitch Type</th>
                        <th scope="col">Pitch</th>
                        <th scope="col">Date</th>
                        <th scope="col">Duration (Days)</th>
                    </tr>
                    </thead>
                    {% for booking in booking %}
                        <tbody>
                            <td>{{ booking.pitch_ID.pitch_type }}</td>
                            <td>{{ booking.pitch_ID }}</td>
                            <td>{{ booking.check_in_date }}</td>
                            <td>{{ booking.duration_of_stay }}</td>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}